@import "tailwindcss";
body {
  overflow-x: hidden;
}
.slick-track {
  display: flex !important;
  gap: 8px !important;
}

@media (max-width: 1024px) {
 .slick-track {
    gap: 6px !important;
  }
 
}

/* 500px-dən aşağı ekranlarda */
@media (max-width: 640px) {
 .slick-track {
    gap: 4px !important;
  }
 
}


@media (max-width: 510px) {
 .slick-track {
    gap: 4px !important;
    /* width: 2980px!important; */
    
  }
  
}
@media (max-width: 450px) {
 .slick-track {
    gap: 4px !important;
  }
  
}




.slick-slide > div > div {
  display: flex !important;
  justify-items: center !important;
  /* justify-content: center !important; */
  padding: 0 8px; /* hər slide arasına boşluq */
}

/* react-slick dots */
.custom-dots {
  bottom: 10px; /* dots hündürlüyünü tənzimləmək üçün */
}

.custom-dots li {
  margin: 0 4px;
}

.custom-dots li button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dots li.slick-active button {
  background: #3b82f6; /* active rəng */
  color: #fff;
  border-color: #3b82f6;
}
