@import "tailwindcss";
.slick-track {
  display: flex!important;
  gap: 15px!important;
  
}

.slick-slide >div>div{
      display: flex!important;
    justify-content: center!important;
      padding: 0 8px; /* hər slide arasına boşluq */

}
 